body {
  background-color: #FFFFFF;
}
header {
  background-color: #000000;
}
header nav {
  padding-bottom: 0;
}
header nav ul {
  list-style: none;
  padding: 17px;
}
header nav ul li {
  display: inline;
  padding-right: 60px;
  font-size: 1.8em;
}
header nav ul li a {
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: none;
}
main {
  width: 80%;
  display: inline;
  float: left;
  margin: 0 auto;
  padding: 25px;
}
.log-output {
  width: 20%;
  display: inline;
  float: left;
}
.ecma6-view .ecma6-content {
  width: 83%;
  display: inline;
  float: left;
  margin-left: 2%;
}
.ecma6-view .ecma6-sidebar {
  width: 15%;
  display: inline;
  float: left;
}
.ecma6-view .ecma6-sidebar ul {
  list-style: none;
}
.ecma6-view .ecma6-sidebar ul li.header a {
  font-size: 1.5em;
  cursor: default;
}
.ecma6-view .ecma6-sidebar ul li.header a:hover {
  text-decoration: none;
  color: #428bca;
}
.ecma6-view .ecma6-sidebar ul li a {
  font-size: 1.1em;
}
.ecma6-view .ecma6-sidebar ul li a:hover {
  text-decoration: none;
}
