body {
  background-color: #FFFFFF;
  font-size: 14px;
}
header {
  background-color: #000000;
}
header nav {
  padding-bottom: 0;
}
header nav ul {
  list-style: none;
  padding: 17px;
}
header nav ul li {
  display: inline;
  padding-right: 60px;
  font-size: 1.8em;
}
header nav ul li a {
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: none;
}
main {
  width: 80%;
  display: inline;
  float: left;
  margin: 0 auto;
  padding: 25px;
}
.log-output {
  width: 20%;
  display: inline;
  float: left;
}
.focused {
  border: 1px solid red;
}
.justify-text {
  text-align: justify;
}
.app-logger-title-holder {
  display: inline-block;
}
.app-logger-title-holder h3 {
  float: left;
}
.app-logger-title-holder .glyphicon.glyphicon-question-sign {
  float: right;
  padding-top: 28px;
  margin-left: 14px;
  cursor: pointer;
}
.active-ui-sref {
  color: #2a1ee0;
  font-size: 1.3em;
  font-weight: 600;
}
.focused-message-class {
  border: 1px solid red;
  cursor: pointer;
}
@media screen and (min-width: 960px) {
  .ecma6-view .ecma6-content {
    width: 83%;
    display: inline;
    float: left;
    margin-left: 2%;
  }
  .ecma6-view .ecma6-content a {
    cursor: pointer;
  }
  .ecma6-view .ecma6-content h3 {
    display: inline-block;
    margin-bottom: 25px;
  }
  .ecma6-view .ecma6-intro li {
    display: block;
    font-size: 1.2em;
    line-height: 2.5em;
  }
  .ecma6-view .ecma6-sidebar {
    width: 15%;
    display: inline;
    float: left;
  }
  .ecma6-view .ecma6-sidebar ul {
    padding: 0;
    list-style: none;
  }
  .ecma6-view .ecma6-sidebar ul li.header {
    margin-bottom: 15px;
  }
  .ecma6-view .ecma6-sidebar ul li.header a {
    text-decoration: none;
    font-size: 1.5em;
  }
  .ecma6-view .ecma6-sidebar ul li.header a:hover {
    text-decoration: none;
    color: #428bca;
  }
}
