<p>Replacement for prototype-based inheritance</p>
<a ng-init="displayClassDefinition=true" ng-show="displayClassDefinition === true" ng-click="displayClassDefinition = false">Hide Class definition</a>
<a ng-show="displayClassDefinition === false" ng-click="displayClassDefinition = true">Show Class definition</a>
<div ng-hide="!displayClassDefinition">
<ul>
	<li>To create a class you should use keyword 'class'</li>
	<pre>
class Vehicle {
	</pre>
	<li>Reserved word 'constructor' for constructor. Only one per class.</li>
	<pre>
	constructor(color, numberOfWheels) {
		this.vehicleColor = color;
		this.numberOfWheels = numberOfWheels;
	}
	</pre>
	<li>Allows creation of static methods (they are not in prototype)</li>
	<pre>
	static minimumWheels() {
		return 2;
	}
	</pre>
	<li>Accessor properties</li>
	<pre>
	// accessor properties
	get color() {
		return this.vehicleColor;
	}

	set color(color) {
		this.vehicleColor = color;
		return this.vehicleColor;
	}
	get wheels () {
		return this.numberOfWheels;
	}
	</pre>
	<li>Public methods (all of them are placed in protototype) can be string keyed</li>
	<pre>
	makeASound () {
		return "I'm unknown vehicle. Don't know how."
	}



	"string keyed method"() {
		return "String Keyed Method"
	}
}
	</pre>
	<li>To inherit from another class you should use 'extends' keyword. Call parent functions with super.method_name</li>
<pre>
class Bicycle extends Vehicle{
	constructor(color) {
		super(color, 2);
	}
}
</pre>
</ul>
</div>

<pre>
// public methods go into prototype
<span class="message-class-classes-1">AppLogger.info(Vehicle.prototype.makeASound !== undefined);</span>
<span class="message-class-classes-2">AppLogger.info(Vehicle.prototype["string keyed method"] !== undefined);</span>
// static methods do not go into prototype
<span class="message-class-classes-3">AppLogger.info(Vehicle.prototype.minimumWheels === undefined);</span>
// static methods are placed directly in Vehicle class
<span class="message-class-classes-4">AppLogger.info(Vehicle.minimumWheels !== undefined);</span>

var vehicle = new Vehicle('red');

<span class="message-class-classes-5">AppLogger.info(vehicle.color);</span>
<span class="message-class-classes-6">AppLogger.info(vehicle.vehicleColor);</span>
vehicle.color = 'blue';
<span class="message-class-classes-7">AppLogger.info(vehicle.color);</span>
<span class="message-class-classes-8">AppLogger.info(vehicle.vehicleColor);</span>
<span class="message-class-classes-9">AppLogger.info(vehicle.makeASound());</span>

<span class="message-class-classes-10">AppLogger.info(vehicle["string keyed method"]());</span>

var bicycle = new Bicycle('black');
<span class="message-class-classes-11">AppLogger.info(bicycle.wheels);</span>
<span class="message-class-classes-12">AppLogger.info(bicycle.color);</span>

bicycle.color = 'pink';
<span class="message-class-classes-13">AppLogger.info(bicycle.color);</span>
<span class="message-class-classes-14">AppLogger.info(bicycle.makeASound(), 'classes-14');</span>
</pre>