<p>
	Default parameters define value if value is not given while calling the function (or undefined passed).
</p>
<ul>
	<li>Evaulated in runtime (when function is called)</li>
	<li>It can be based on other default parameters (firstLetter based on word in example)</li>
	<li>Explicit undefined defers to default</li>
</ul>
<pre>
var extractFirst = function(word) {
	return word.substring(0, 1);
},
isFirstCapital = function(word, firstLetter = extractFirst(word)) {
	if (firstLetter.uppercase() === firstLetter) {
		return true;
	}
};

<span class="message-class-default-parameters-1">AppLogger.info(isFirstCapital('Slaven'));</span>
<span class="message-class-default-parameters-2">AppLogger.info(isFirstCapital('slaven'));</span>
<span class="message-class-default-parameters-3">AppLogger.info(isFirstCapital('slaven', 'S'));</span>
</pre>