<p>
	Default parameters define value if value is not given while calling the function (or undefined passed).
</p>
<ul>
	<li>Evaulated in runtime (when function is called)</li>
	<li>It can be based on other default parameters (firstLetter based on word in example)</li>
	<li>Explicit undefined defers to default</li>
</ul>
<pre>
var extractFirst = function(word) {
	return word.substring(0, 1);
},
isFirstCapital = function(word, firstLetter = extractFirst(word)) {
	if (firstLetter.uppercase() === firstLetter) {
		return true;
	}
};

AppLogger.info(isFirstCapital('Slaven'));
AppLogger.info(isFirstCapital('slaven'));
AppLogger.info(isFirstCapital('slaven', 'S'));
</pre>