<p>
	Generators allow us different way of iteration through our collections of data.
</p>
<ul>
	<li>When calling generator first <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Iteration_protocols#iterator" target="_blank">Iterator object</a> is returned.</li>
	<li id="iterators" ng-class="{focused:iterators}">Calling .next() on iterator object we are calling generator. It returns object with two properties back
		<ul>
			<li>'value' property contains what was 'yielded' back</li>
			<li>'done' is boolean which indicates if there is some data still</li>
		</ul>
	</li>
</ul>
<div id="for-of-generators" ng-class="{focused:forOfGenerators}">
<h4>for..of</h4>
<p>To use custom iterators we use for..of. JavaScript Object doesn't have default iterator (array, string and map do have one)</p>
<pre>
var myArray = [9, 8, 7];
for (let i in myArray) {
	<span class="message-class-generators-1">AppLogger.info(i);</span>
}

for (let i of myArray) {
	<span class="message-class-generators-2">AppLogger.info(i);</span>
}
</pre>
</div>
<h4>Creating your own generator</h4>
<pre>
var students = [
	{
		id : 1,
		privateData : {
			name : 'Slaven',
			lastName : 'Tomac'
		}
	},
	{
		id : 2,
		privateData : {
			name : 'Slavko',
			lastName : 'Tomak'
		}
	},
	{
		id : 3,
		privateData : {
			name : 'Sly',
			lastName : 'Tom'
		}
	}
];

function* studentsIterator(students) {
	for (var student of students) {
		if (student.id % 2 === 0) {
			yield [student.id, student.privateData.name];
		}
	}
}

for (var [id, name] of studentsIterator(students)) {
	<span class="message-class-generators-3">AppLogger.info(id + ' - ' + name);</span>
}
</pre>
<h4>Using your generator</h4>
<pre>
var iterator = studentsIterator(students);
<span class="message-class-generators-4">AppLogger.info(iterator.next());</span>
<span class="message-class-generators-5">AppLogger.info(iterator.next());</span>
<span class="message-class-generators-6">AppLogger.info(iterator.next());</span>
<span class="message-class-generators-7">AppLogger.info(iterator.next());</span>
</pre>
