<p>Let allows new way of declaring variables. We can now decide variable is only visible inside block scope (e.g if, switch etc.)</p>
<ul>
	<li>Declaration of same variable name with let in same block scope raised TypeError.
		<ul>
			<li>Body of function doesn't have this behaviour</li>
		</ul>
	</li>
	<li>It doesn't hoist up</li>
</ul>
<pre>
'use strict';
var a = 10, d = 11;
if (a >= 10) {
	var c = 4;
	let b = 3;
	let a = 11;
	var d = 15;

	<span class="message-class-let-1">AppLogger.info('inside if a: ' + a);</span>
	<span class="message-class-let-2">AppLogger.info('inside if b: ' + b);</span>
	<span class="message-class-let-3">AppLogger.info('inside if c: ' + c);</span>
	<span class="message-class-let-4">AppLogger.info('inside if d: ' + d);</span>
	
}

<span class="message-class-let-5">AppLogger.info('outside if a: ' + a);</span>
// AppLogger.info('outside if b: ' + b);
<span class="message-class-let-6">AppLogger.info('outside if c: ' + c);</span>
<span class="message-class-let-7">AppLogger.info('outside if d: ' + d);</span>
<span class="message-class-let-8">AppLogger.info('outside if e: ' + e);</span>
// AppLogger.info('outside if f: ' + f);
var e = 16;
let f = 111;
</pre>