<p>Let allows new way of declaring variables. We can now decide variable is only visible inside block scope (e.g if, switch etc.)</p>
<pre>
'use strict';
var a = 10, d = 11;
if (a >= 10) {
	var c = 4;
	let b = 3;
	let a = 11;
	var d = 15;

	AppLogger.info('inside if a: ' + a);
	AppLogger.info('inside if b: ' + b);
	AppLogger.info('inside if c: ' + c);
	AppLogger.info('inside if d: ' + d);
	
}

AppLogger.info('outside if a: ' + a);
// AppLogger.info('outside if b: ' + b);
AppLogger.info('outside if c: ' + c);
AppLogger.info('outside if d: ' + d);
AppLogger.info('outside if e: ' + e);
// AppLogger.info('outside if f: ' + f);
var e = 16;
let f = 111;
</pre>