<h3>Modules</h3>
<i>Converted with BabelJS</i>
<ng-include src="'app/partials/ecma6/modules-base.html'"></ng-include>
<a ng-init="hidden=true" ng-show="hidden === true" ng-click="hidden = false">Show Babel</a>
<a ng-show="hidden === false" ng-click="hidden = true">Hide Babel</a>
<div ng-show="hidden===false">
	<p>Need separate babel conversion</p>
	<p>Here's not goal to learn about Babel so we won't go into details here</p>
	<pre>
babel --modules amd --module-id id_to_generate js_to_convert
</pre>
	<p>sum.js</p>
	<pre>
define("sum", ["exports", "module"], function (exports, module) {
        "use strict";

        module.exports = function (a, b, c) {
                return a + b + c;
        };

        ;
});
	</pre>
	<p>mylogger.js</p>
	<pre>
define('mylogger', ['exports'], function (exports) {
    'use strict';

    Object.defineProperty(exports, '__esModule', {
            value: true
    });
    exports.loggerInterceptor = loggerInterceptor;

    function loggerInterceptor(logger, message, messageClass) {
            logger.info('loggerInterceptor --- ' + message, messageClass);
    }

    var variablePi = '3.141593';
    exports.variablePi = variablePi;
});
	</pre>
	<p>importer.js</p>
	<pre>
define('importer', ['exports', 'mylogger', 'sum'], function (exports, _mylogger, _sum) {
        'use strict';

        var _interopRequire = function (obj) { return obj && obj.__esModule ? obj['default'] : obj; };

        Object.defineProperty(exports, '__esModule', {
                value: true
        });
        exports.exporter = exporter;

        var _sumCalculation = _interopRequire(_sum);

        console.log(_mylogger.variablePi);
        _mylogger.loggerInterceptor(console, 'Angular Controller');
        console.log(_sumCalculation(1, 2, 3));

        function exporter() {
                return {
                        pi: _mylogger.variablePi,
                        loggerInterceptor: _mylogger.loggerInterceptor,
                        sumCalculation: _sumCalculation
                };
        }
});
	</pre>
</div>