<p>ES5 doesn't have built in support for modules which is solved by using CommonJS Modules (e.g. NodeJS modules) and AMD modules (e.g. RequireJS). ES6 gets this built in</p>
<ul>
	<li>With named exports we can export/import more variables (mylogger.js in examples)</li>
	<li>Default exports defines what's being imported by default into other module (sum.js). Only one per module</li>
	<li>Combination of both is possible as well</li>
</ul>

<p>mylogger.js</p>
<pre>
export function loggerInterceptor(logger, message) {
	logger.info('loggerInterceptor --- ' + message);
};

export var variablePi = '3.141593';
</pre>
<p>sum.js</p>
<pre>
export default function (a, b, c) { 
	return a + b + c;
};
</pre>
<p>importer.js</p>
<pre>
import {variablePi,loggerInterceptor} from 'mylogger';
import sumCalculation from 'sum';

AppLogger.info(variablePi);
loggerInterceptor(AppLogger, 'importer call')
AppLogger.info(sumCalculation(1,2,3));
</pre>