<ul>
	<li>Trap for a function. You can trap call to function (can be in prototype as well)</li>
	<li>It gets three parameters
		<ul>
			<li>target - which object we are defining proxy for</li>
			<li>thisArgument - this argument for the called function</li>
			<li>arguments - argument list for the called function</li>
		</ul>
	</li>
</ul>
<pre>
function Dog(name) {
	this.name = name;
}

Dog.prototype.bark = function() {
	<span class="message-class-proxy-apply-1">AppLogger.info('Wuf from ' + this.name);</span>
};

Dog.prototype.say = function(extra) {
	<span class="message-class-proxy-apply-2">AppLogger.info('Hello from ' + this.name);</span>
	if (extra) {
		<span class="message-class-proxy-apply-3">AppLogger.info('. And ' + extra);</span>
	}
};

var dog = new Dog('Snuppy');

var proxy = new Proxy(dog.say, {
	apply : function(target, thisArgument, argList) {
		<span class="message-class-proxy-apply-4">AppLogger.info('Going through apply');</span>
		argList[0] = argList[0] + '---went through apply';
		target.apply(thisArgument, argList);
	}
});

proxy.apply(dog, ['Yes!']);

dog.say('Yes!');
</pre>