<ul>
	<li>Trap for Object.getOwnPropertyDescriptor()
		<ul>
			<li>
				Returns property descriptor of an own property (not inherited by prototype chain)
			</li>
			<li>
				Property descriptor is an object with some properties that describe element.
				<ul>
					<li>value</li>
					<li>writable</li>
					<li>get - getter function</li>
					<li>set - setter function</li>
					<li>configurable - if I can change property descriptotor</li>
					<li>enumerable</li>
				</ul>
			</li>
			<li>More details <a href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/getOwnPropertyDescriptor' target='_blank'>here</a> </li>
		</ul>
	</li>
	<li>It gets two parameters
		<ul>
			<li>target - object we are proxying</li>
			<li>property - property we are getting descriptor for</li>
		</ul>
	</li>
</ul>
<pre>
AppLogger
</pre>