<ul>
	<li>Trap for Object.getOwnPropertyDescriptor()
		<ul>
			<li>
				Returns property descriptor of an own property (not inherited by prototype chain)
			</li>
			<li>
				Property descriptor is an object with some properties that describe element.
				<ul>
					<li>value</li>
					<li>writable</li>
					<li>get - getter function</li>
					<li>set - setter function</li>
					<li>configurable - if I can change property descriptotor</li>
					<li>enumerable</li>
				</ul>
			</li>
			<li>More details <a href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/getOwnPropertyDescriptor' target='_blank'>here</a> </li>
		</ul>
	</li>
	<li>It gets two parameters
		<ul>
			<li>target - object we are proxying</li>
			<li>property - property we are getting descriptor for</li>
		</ul>
	</li>
</ul>
<pre>
var myObject = {
	name : 'myObject',
	height : 180
};
var proxy = new Proxy(myObject, {
	getOwnPropertyDescriptor : function(target, prop) {
		<span class="message-class-proxy-getownproperty-1">AppLogger.info('Getting descriptor via proxy for ' + prop);</span>
		if (prop === 'height') {
			return {
				value: '100'
			};
		} else {
			return Object.getOwnPropertyDescriptor(target, prop);
		}
	}
});

<span class="message-class-proxy-getownproperty-2">AppLogger.info(Object.getOwnPropertyDescriptor(proxy, 'height'));</span>
<span class="message-class-proxy-getownproperty-3">AppLogger.info(Object.getOwnPropertyDescriptor(proxy, 'name'));</span>
</pre>