<p>
	Classical Set collection
</p>
<ul>
	<li>When constructing set, value must be iterable. Duplicated values won't be added</li>
	<li>Key equality is based on '===' operator. And NaN is matched to NaN even though NaN !== NaN</li>
<pre>
var object1 = {
	name : 'Slaven'
},
object2 = {
	surname : 'Tomac'
},
object3 = {
	surname : 'Tomac'
},
mySet = new Set([object1, 'StringObject', 2, object2, object1]);
</pre>
<li>.size property which hold size of set</li>
<pre>
AppLogger.info(mySet.size);
</pre>
<li>.has(key) returns true/false if object exists</li>
<pre>
AppLogger.info(mySet.has(object1));
AppLogger.info(mySet.has('myKey1'));
AppLogger.info(mySet.has(object3));
</pre>
<li>.delete(key) method deletes object and returns true/false based if object existed or not</li>
<pre>
AppLogger.info(mySet.get(object1));
mySet.delete(object1);
AppLogger.info(mySet.get(object1));
</pre>
<li>.entries() returns iterator for iterating objects (see <a href="#/ecma6/generators-babel#iterators">Generators</a> for more details how iterators work).</li>
<pre>
var iterator = mySet.entries();
AppLogger.info(iterator.next());
AppLogger.info(iterator.next());
AppLogger.info(iterator.next());
</pre>
<li>.forEach() returns iterator over values in set</li>
<pre>
mySet.forEach(function(val) {
	AppLogger.info(val);
});
</pre>
<li>.add(object) adds object to Set. Returns Set object back<li>
<pre>
AppLogger.info(mySet.has(object3));
mySet.add(object3);
AppLogger.info(mySet.has(object3));
</pre>
<h5>.keys() returns iterator over values (same as .values)</h5>
<pre>
var keysIterator = mySet.keys();
AppLogger.info(keysIterator.next());
AppLogger.info(keysIterator.next());
AppLogger.info(keysIterator.next());
</pre>
<h5>.values() returns iterator over values (same as keys)</h5>
<pre>
var valuesIterator = mySet.values();
AppLogger.info(valuesIterator.next());
AppLogger.info(valuesIterator.next());
AppLogger.info(valuesIterator.next());
</pre>
<h5>Set object has default iterator which is used in for..of iterator. It iterates through objects stored in Set (see <a href="#/ecma6/generators-babel#for-of-generators">Generators-for..of</a> for more details about default iterators)</h5>
<pre>
for (var val of mySet) {
	AppLogger.info('val');
	AppLogger.info(val);
}
</pre>
</ul>