<p>String literals that allow string interpolation and multiline strings.</p>
<ul>
	<li>Template strings are enclosed with a back-tick (`) with placeholders enclosed with ${variable}</li>
	<li>They can be multilined without any special sign for new line</li>
	<li>Tagged functions allow you to pass values to function instead of default concatenation
		<ul>
			<li>First parameter is array of string from original enclosed string</li>
			<li>First parameter has also raw property (not interpolated)</li>
			<li>Rest of params are variables from placeholders (enclosed by ${}). Useful to use rest parameters for them (...). See <a ui-sref="ecma6.rest-parameters-babel">Rest Parameter Examples</a> for more details</li>
		</ul>
	</li>
</ul>
<pre>
var name = "Slaven", surname = "Tomac";

AppLogger.info(`Hello there ${name} ${surname} !`);


var multilineString = `This is my multiline string ${name}
						and what will you do about it?

						Ha?!
						`;

AppLogger.info(multilineString);

var a = 1;
AppLogger.info(`I can also calculate in string now : ${5 + a}`);

function myTagger(strings, value1, value2) {
	return 'raw: ' + strings.raw.join(',') + '\n strings: ' + strings.join(',') + '\n values: ' + value1 + ' - ' + value2 ;
}

AppLogger.info(myTagger`User ${name} will use\n my tagger here for ${a}st time`);
</pre>