<p>
	Allows declaring array with specicic type, length and/or buffer.
</p>
<ul>
	<li>
		Few constructors:
		<ul>
			<li>new TypedArray(length)</li>
			<li>new TypedArray(typedArray)</li>
			<li>new TypedArray(object)</li>
			<li>new TypedArray(buffer [,bytesOffset [,length]])</li>
		</ul>
		where
		<ul>
			<li>length - if given, array with that many zeroes will be created</li>
			<li>typedArray - it can be object of any of the typed arrays, copies (and converts) values into new array</li>
			<li>object - creates array from the object</li>
			<li>TypedArray can be one of the following:
				<ul>
					<li>Int8Array()</li>
					<li>Uint8Array()</li>
					<li>Uint8ClampedArray() - values clamped to 0-255</li>
					<li>Int16Array()</li>
					<li>Uint16Array()</li>
					<li>Int32Array()</li>
					<li>Uint32Array()</li>
					<li>Float32Array()</li>
					<li>Float64Array()</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>They don't support .push()!!! :o</li>
	<li>Prototype Methods (which each TypedArray inherits). Examples are <a href="" ng-click='scrollTo("typedarrray-prototype-method-usage")'>here</a>
		<ul>
			<li>
				TypedArray.prototype.copyWithin()
			</li>
			<li>
				TypedArray.prototype.entries()
			</li>
			<li>
				TypedArray.prototype.every()
			</li>
			<li>
				TypedArray.prototype.fill()
			</li>
			<li>
				TypedArray.prototype.filter()
			</li>
			<li>
				TypedArray.prototype.find()
			</li>
			<li>
				TypedArray.prototype.findIndex()
			</li>
			<li>
				TypedArray.prototype.forEach()
			</li>
			<li>
				TypedArray.prototype.indexOf()
			</li>
			<li>
				TypedArray.prototype.join()
			</li>
			<li>
				TypedArray.prototype.keys()
			</li>
			<li>
				TypedArray.prototype.lastIndexOf()
			</li>
			<li>
				TypedArray.prototype.map()
			</li>
			<li>
				TypedArray.prototype.reduce()
			</li>
			<li>
				TypedArray.prototype.reduceRight()
			</li>
			<li>
				TypedArray.prototype.reverse()
			</li>
			<li>
				TypedArray.prototype.set()
			</li>
			<li>
				TypedArray.prototype.slice()
			</li>
			<li>
				TypedArray.prototype.some()
			</li>
			<li>
				TypedArray.prototype.sort() - DOCUMENTATION!!!
			</li>
			<li>
				TypedArray.prototype.subarray()
			</li>
			<li>
				TypedArray.prototype.values()
			</li>
			<li>
				TypedArray.prototype.toLocaleString()
			</li>
			<li>
				TypedArray.prototype.toString()
			</li>
		</ul>
	</li>
</ul>
<h4>Adding/converting elements</h4>
<ul>
	<li>
		Initially it's an array with zeroes
		<pre>
var int8Array = new Int8Array(8);
<span class="message-class-typedarray-1">AppLogger.info(int8Array.join(','));</span>
		</pre>
	</li>
	<li>
	To add one element you can't use push as in normal array types, but assign it via index access
		<pre>
int8Array[0] = 1;
<span class="message-class-typedarray-2">AppLogger.info(int8Array.join(','));</span>
int8Array[1] = -123;
<span class="message-class-typedarray-3">AppLogger.info(int8Array.join(','));</span>
int8Array[1] = -128;
<span class="message-class-typedarray-4">AppLogger.info(int8Array.join(','));</span>
		</pre>
	</li>
	<li>
		If assigned value out of the scope it will be modulo modified
		<pre>
int8Array[1] = -129;
<span class="message-class-typedarray-5">AppLogger.info(int8Array.join(','));</span>
int8Array[4] = -130;
<span class="message-class-typedarray-6">AppLogger.info(int8Array.join(','));</span>
int8Array[5] = 129;
<span class="message-class-typedarray-7">AppLogger.info(int8Array.join(','));</span>
		</pre>		
	</li>
	<li>
		If assigning float to int, it will just strip off everything behind decimal point
		<pre>
int8Array[6] = 1.45;
<span class="message-class-typedarray-8">AppLogger.info(int8Array.join(','));</span>
int8Array[7] = 1.55;
<span class="message-class-typedarray-9">AppLogger.info(int8Array.join(','));</span>
		</pre>
	</li>
	<li>
		If assigning value to index which is outside of the scope of array it will be just ignored.
		<pre>
int8Array[8] = 1.55;
<span class="message-class-typedarray-10">AppLogger.info(int8Array.join(','));</span>
		</pre>
	</li>
</ul>
<h4 id="typedarrray-prototype-method-usage">Prototype methods usage</h4>
<ul>

	<li><b>copyWithin(target, start[, end])</b></li>
	<li>It copies sequence of array elements to same array setting them on index 'target', copying starts from start, to end.</li>
	<li> In this example we said, copy into index 2, starting from index 0
		<pre>
var int8ArrayNew = new Int8Array(5);
int8ArrayNew[0] = 1;
int8ArrayNew[1] = 2;
int8ArrayNew.copyWithin(2, 0);
<span class="message-class-typedarray-11">AppLogger.info(int8Array.join(','));</span>
		</pre>
	</li>

	<li><b>entries()</b></li>
	<li>Returns iterator which contains key/value pairs</li>
	<pre>
var int8ArrayNewIterator = int8ArrayNew.entries();
for (var [key, val] of int8ArrayNewIterator) {
	<span class="message-class-typedarray-12">AppLogger.info(key + ' : ' + val);</span>
}
	</pre>

	<li><b>.every(callback(currentValue, index, array)[, thisArgument])</b></li>
	<li>Checks each element of array against callback method. If callback returns false once, entire .every() is false, true otherwise</li>
	<pre>
var checkForBiggerThanTwo = function(currentValue, index, array) {
	if (currentValue > 2) {
		return false;
	} else {
		retun true;
	}
};
// int8Array = [1,-123,-128,127,126,-127,1,1]
// int8ArrayNew = [1, 2, 1, 2, 0]
<span class="message-class-typedarray-13">AppLogger.info(int8Array.every(checkForBiggerThanTwo));</span>
<span class="message-class-typedarray-14">AppLogger.info(int8ArrayNew.every(checkForBiggerThanTwo));</span>
	</pre>

	<li><b>.fill(value[, start = 0[, end = length]])</b></li>
	<li>Fills array with values from start (defaults to 0) to end (defaults to length)</li>
	<pre>
var fillArray1 = new Int8Array(5);
var fillArray2 = new Int8Array(5);
var fillArray3 = new Int8Array(5);
var fillArray4 = new Int8Array(5);

fillArray1.fill(66);
fillArray2.fill(66, 1);
fillArray3.fill(66, 1, 2);
fillArray4.fill(66, 1, 55);

<span class="message-class-typedarray-15">AppLogger.info(fillArray1.join(','));</span>
<span class="message-class-typedarray-16">AppLogger.info(fillArray2.join(','));</span>
<span class="message-class-typedarray-17">AppLogger.info(fillArray3.join(','));</span>
<span class="message-class-typedarray-18">AppLogger.info(fillArray4.join(','));</span>
	</pre>

	<li><b>.filter(callback(currentValue, index, array)[, thisArgument])</b></li>
	<li>Creates new typed array based on which return true in callback (which is called for each element)</li>
<pre>
// int8Array = [1,-123,-128,127,126,-127,1,1]
var negativeNumbersAtOddIndex = int8Array.filter(function(currentValue, index) {
	if (index % 2 === 1 && currentValue < 0) {
		return true;
	}
});
<span class="message-class-typedarray-19">AppLogger.info(negativeNumbersAtOddIndex.join(','));</span>
</pre>

	<li><b>.find(callback(currentValue, index, array)[,thisArgument])</b></li>
	<li>Returns first element for which callback returns true or undefined if doesn't find it.</li>
	<pre>
// int8Array = [1,-123,-128,127,126,-127,1,1]
var isBiggerThan100 = function(currentValue, index, array) {
	if (currentValue > 100) {
		return true;
	} else {
		return false;
	}
};
<span class="message-class-typedarray-20">AppLogger.info(int8Array.find(isBiggerThan100));</span>
	</pre>

	<li><b>.findIndex(callback(currentValue, index, array)[,thisArgument])</b></li>
	<li>Returns index of first element for which callback returns true or -1 if doesn't find it.</li>
	<pre>
// int8Array = [1,-123,-128,127,126,-127,1,1]
var isBiggerThan100 = function(currentValue, index, array) {
	if (currentValue > 100) {
		return true;
	} else {
		return false;
	}
};
<span class="message-class-typedarray-21">AppLogger.info(int8Array.findIndex(isBiggerThan100));</span>
	</pre>

	<li><b>.forEach(callback(currentValue, index, array)[,thisArgument])</b></li>
	<li>Executes callback for each element of typed array</li>
	<pre>
// int8Array = [1,-123,-128,127,126,-127,1,1]
int8Array.forEach(function(currentValue, index, array) {
	if (currentValue &lt 0) {
		array[index]= 0;
	}
});
<span class="message-class-typedarray-22">AppLogger.info(int8Array.join(','));</span>
	</pre>

	<li><b>.indexOf(searchValue[, startingFromIndex])</b></li>
	<li>Returns first index where it finds value given to it, or -1 if not found</li>
	<li>It can start from specified index, or from beginning if not given</li>
	<pre>
// int8Array = [1,0,0,127,126,0,1,1]
<span class="message-class-typedarray-23">AppLogger.info(int8Array.indexOf(1, 1));</span>
	</pre>

	<li><b>.join([separator])</b></li>
	<li>Joins all elements into string, separated by separator (if given, if not it uses ',')</li>
	<li>Examples shown through entire page :)</li>

	<li><b>.keys()</b></li>
	<li>Returns iterator which goes through all keys of array (indexes :))</li>
	<pre>
// int8Array = [1,0,0,127,126,0,1,1]
var keys = int8Array.keys();
for (key of keys) {
	<span class="message-class-typedarray-24">AppLogger.info(key);</span>
}
	</pre>

	<li><b>.lastIndexOf(searchValue[, startingFromIndex])</b></li>
	<li>Returns last index where it finds value given to it, or -1 if not found</li>
	<li>It can start from specified index, or from the end if not given</li>
	<pre>
// int8Array = [1,0,0,127,126,0,1,1]
<span class="message-class-typedarray-25">AppLogger.info(int8Array.lastIndexOf(1, 3));</span>
	</pre>

	<li><b>.map(callback(currentElement, index, array)[,thisArgument]</b></li>
	<li>Creates new typed array with values modified through map function</li>
	<pre>
// int8Array = [1,0,0,127,126,0,1,1]
var int8ArrayMinus5 = int8Array.map(function(currentElement) {
	return currentElement - 5;
});
<span class="message-class-typedarray-26">AppLogger.info(int8ArrayMinus5.join(','));</span>
	</pre>

	<li><b>.reduce(callback(previousValue, currentValue, index, array])[,initialValue])</b></li>
	<li>Reduces all values in array by sending each of them into callback where previous value would be what we've returned in previous call (or if it's first call, value of first element (or initialValue if given)</li>
	<pre>
// we'll sum up only last char in number
var newInt8Array = new Int8Array(4);
newInt8Array[0] = 51;
newInt8Array[1] = 51;
newInt8Array[2] = 62;
newInt8Array[3] = 72;
var reducedValue = newInt8Array.reduce(function(previousValue, currentValue, index) {
	<span class="message-class-typedarray-27">AppLogger.info('index: ' + index);</span>
	<span class="message-class-typedarray-27">AppLogger.info('previousValue: ' + previousValue);</span>
	<span class="message-class-typedarray-27">AppLogger.info('currentValue: ' + currentValue);</span>
	<span class="message-class-typedarray-27">return (previousValue % 10) + (currentValue % 10);</span>
});
<span class="message-class-typedarray-28">AppLogger.info('reducedValue: ' + reducedValue);</span>
	</pre>

	<li><b>.reduceRight(callback(previousValue, currentValue, index, array])[,initialValue])</b></li>
	<li>It does the same as .reduce, only applies function from right-to-left</li>
	<pre>
// we'll sum up only last char in number
newInt8Array = new Int8Array(4);
newInt8Array[0] = 51;
newInt8Array[1] = 51;
newInt8Array[2] = 62;
newInt8Array[3] = 72;
reducedValue = newInt8Array.reduceRight(function(previousValue, currentValue, index) {
	<span class="message-class-typedarray-29">AppLogger.info('index: ' + index);</span>
	<span class="message-class-typedarray-29">AppLogger.info('previousValue: ' + previousValue);</span>
	<span class="message-class-typedarray-29">AppLogger.info('currentValue: ' + currentValue);</span>
	<span class="message-class-typedarray-29">return (previousValue % 10) + (currentValue % 10);</span>
});
<span class="message-class-typedarray-30">AppLogger.info('reducedValue: ' + reducedValue);</span>
	</pre>

	<li><b>.reverse()</b></li>
	<li>Reverses typed array in place</li>
	<pre>
// newInt8Array = [51, 51, 62, 72]
newInt8Array.reverse();
<span class="message-class-typedarray-31">AppLogger.info(newInt8Array.join(','));</span>
	</pre>

	<li><b>.set(array[,offset])</b></li>
	<li>Stores values in array based on array (or typed array given)</li>
	<li>Offset determines where to start storing (length of given array + offset must be under length of created array)</li>
	<pre>
var setArrayExample = new Int8Array(4);
setArrayExample.set([1,2,3], 1);
<span class="message-class-typedarray-32">AppLogger.info(setArrayExample.join(','));</span>
	</pre>

	<li><b>.slice(begin[,end])</b></li>
	<li>Extracts element from typed array and creates a new one</li>
	<pre>
// setArrayExample = [0,1,2,3]
var slicedArray = setArrayExample.slice(1,3);
<span class="message-class-typedarray-33">AppLogger.info(slicedArray.join(','));</span>
	</pre>

	<li><b>.some(callback(currentElement, index, array)[,thisArg])</b></li>
	<li>Returns true if one of the elements in callback returns true</li>
	<pre>
// setArrayExample = [0,1,2,3]
var isThereATwo = function(currentElement) {
	if (currentElement === 2) {
		return true;
	} else {
		return false;
	}
};
<span class="message-class-typedarray-34">AppLogger.info(setArrayExample.some(isThereATwo));</span>
	</pre>

	<li><b>.sort([sortingFunction(a,b)]) - NOT SUPPORTED CURRENTLY</b></li>
	<li>Sorts array in place.</li>
	<li>It can have sortingFunction which receives two elements and implements sorting algorithm</li>
	<li>
		In following example does simple ascending sorting and later descending sorting
		<pre>
// newInt8Array = [72, 62, 51, 51];
var ascSort = function(a, b) {
	if (a > b) {
		return 1;
	} else if (a === b) {
		return 0;
	} else {
		return -1;
	}
};
var descSort = function(a, b) {
	if (a > b) {
		return -1;
	} else if (a === b) {
		return 0;
	} else {
		return 1;
	}
};
newInt8Array.sort(ascSort);
// newInt8Array = [51, 51, 62, 72];
<span class="message-class-typedarray-35">AppLogger.info(newInt8Array.join(','));</span>
newInt8Array.sort(descSort);
// newInt8Array = [72, 62, 51, 51];
<span class="message-class-typedarray-36">AppLogger.info(newInt8Array.join(','));</span>
		</pre>
	</li>

	<li><b>.subarray([begin[,end]])</b></li>
	<li>Returns new array based on the same ArrayBuffer. Similar to splice, but it doesn't change array in place</li>
	<li>end index not included</li>
	<pre>
// newInt8Array = [72, 62, 51, 51];	
var subarray = newInt8Array.subarray(1,3);
<span class="message-class-typedarray-37">AppLogger.info(subarray.join(','));</span>
	</pre>

	<li><b>.values()</b></li>
	<li>Returns iterator which holds values of type array</li>
	<pre>
// newInt8Array = [72, 62, 51, 51];
var values = newInt8Array.values();
for (val of values) {
	<span class="message-class-typedarray-38">AppLogger.info(val);</span>
}
	</pre>

	<li><b>.toLocaleString()</b></li>
	<li>Returns local string representation of elements inside of the array</li>
	<pre>
// newInt8Array = [72, 62, 51, 51];
<span class="message-class-typedarray-39">AppLogger.info(newInt8Array.toLocaleString());</span>
	</pre>

	<li><b>.toString()</b></li>
	<li>Returns string representation of elements inside of the array</li>
	<pre>
// newInt8Array = [72, 62, 51, 51];
<span class="message-class-typedarray-40">AppLogger.info(newInt8Array.toString());</span>
	</pre>
</ul>