<div class='about-me clearfix'>
	<h3>About Me</h3>
	<img src='app/assets/images/slaven.jpg' alt='Slaven Tomac'>
	<p class='justify-text'>
	My name is Slaven Tomac. Currently, I work as Web Developer for company called <a href='http://www.amphinicy.com/' target='blank'>Amphinicy Technologies</a>.
	My passion for web development in last two years has grown as much as it can :). I'm currently deeply involved in AngularJS. Besides my regular job,  I do lots of 'proof of concepting' and exploring new technologies (this is why this page was even built :). Just trying to stay up to date.
	</p>
</div>
<div class='contact-info'>
	<h3>Contact Info</h3>
		<a class='social-network-link' target='_blank' href='https://twitter.com/slaventomac'>
			<img src='app/assets/images/twitter.png'>
		</a>
		<a class='social-network-link' target='_blank' href='http://hr.linkedin.com/in/slaventomac'>
			<img src='app/assets/images/linkedin.png'>
		</a>
		<a class='social-network-link' href='mailto:slaven.tomac@gmail.com'>
			<img src='app/assets/images/gmail.png'>
		</a>
</div>