<div class='ecma6-view'>
	<h2>EcmaScript6 Examples</h2>
	<hr />
	<aside class='ecma6-sidebar'>
	    <nav>
	      <ul>
	      	<li class='header'><a>Template Strings</a></li>
	        <li><a ui-sref="ecma6.templatestrings">Native</a></li>
	        <li><a ui-sref="ecma6.templatestrings-babel">Babel</a></li>
	        <li class='header'><a>Let Block</a></li>
	        <li><a ui-sref="ecma6.let">Native</a></li>
	        <li><a ui-sref="ecma6.let-babel">Babel</a></li>
	        <li class='header'><a>Arrow Function</a></li>
	        <li><a ui-sref="ecma6.arrowfunction">Native</a></li>
	        <li><a ui-sref="ecma6.arrowfunction-babel">Babel</a></li>
	        <li class='header'><a>Classes</a></li>
	        <li><a ui-sref="ecma6.classes-babel">Babel</a></li>
	        <li class='header'><a>Modules</a></li>
	        <li><a ui-sref="ecma6.modules-babel">Babel</a></li>
	        <li class='header'><a>Default Parameters</a></li>
	        <li><a ui-sref="ecma6.default-parameters-babel">Babel</a></li>
	        <li class='header'><a>Rest Parameters</a></li>
	        <li><a ui-sref="ecma6.rest-parameters-babel">Babel</a></li>
	        <li class='header'><a>Generators</a></li>
	        <li><a ui-sref="ecma6.generators">Native (not working well??)</a></li>
	        <li><a ui-sref="ecma6.generators-babel">Babel</a></li>
	        <li class='header'><a>Promises</a></li>
	        <li><a ui-sref="ecma6.promises">Native</a></li>
	      </ul>
	    </nav>
	</aside>
	<div ui-view class='ecma6-content'></div>
</div>