<div class='ecma6-view'>
	<h2>EcmaScript6 Examples</h2>
	<hr />
	<aside-menu menu-elements='menuItems' api='asideMenuApi' menu-active-marker></aside-menu>
	<div ui-view class='ecma6-content' ng-class='{"full-width-content":!asideMenuOpened}'>
		<h3>What will you find here?</h3>
		<ul class='ecma6-intro'>
			<li><a ui-sref="ecma6.templatestrings-babel">Template Strings</a> give us new way of interpolation of strings</li>
			<li><a ui-sref="ecma6.let-babel">Let</a> keyword is a new 'var' (blocked scoped var)</li>
			<li><a ui-sref="ecma6.arrowfunction-babel">Arrow functions</a> allow us functions without parenthesis and different way of binding 'this'</li>
			<li><a ui-sref="ecma6.classes-babel">Classes</a> are new way of inheritance in JavaScript</li>
			<li><a ui-sref="ecma6.modules-babel">Modules <i>(only in Firefox)</i></a> will allow simple import/export of JavaScript module (replacement for AMD and CommonJS modules)</li>
			<li><a ui-sref="ecma6.default-parameters-babel">Default parameters</a> allow us to assign some default values to parameters that are passed into functions</li>
			<li><a ui-sref="ecma6.rest-parameters-babel">Rest parameters</a> will allow us to use optional number of parameters when defining functions</li>
			<li><a ui-sref="ecma6.generators-babel">Generators</a> are new way for iterating through data</li>
			<li><a ui-sref="ecma6.promises">Promises</a> give use built-in way for async programming</li>
			<li><a ui-sref="ecma6.map-babel">Maps</a> will replace usage of Objects as map objects (anything can be key now)</li>
			<li><a ui-sref="ecma6.set-babel">Sets</a> are classic Set object (they are now part of JavaScript)</li>
			<li><a ui-sref="ecma6.const">Const (only in Chrome)</a> keyword will allow us to define constants inside our program</li>
			<li><a ui-sref="ecma6.typedarray">Typed Array (only in Firefox)</a> allows declaration of arrays with predefined type of elements inside an array</li>
			<li><a ui-sref="ecma6.proxy">Proxy (only in Firefox)</a> allows us to define custom behavior for built-in operators such as property lookup, function invocation etc</li>
		</ul>
		<h3>What's AppLogger</h3>
		<ul class='ecma6-intro'>
			<li>AppLogger is wrapper around console which is used to display console messages in browser.</li>
			<li>In examples you can hover with your mouse of AppLogger.info entries to see where's that in code. Works vice-versa as well.</li>
		</ul>
	</div>
</div>