<h3>Why this page?</h3>
<p class="justify-text">
	I created this page to show new feature of EcmaScript6 in action. Since still (now it's June of 2015) EcmaScript6 is not supported in all browsers I had to use Babel in some cases (even Babel doesn't support everything what Firefox support so all kind of combinations are possible :p).
</p>
<h3>EcmaScript 6 in Action</h3>
<p class="justify-text">
	Go to <a ng-href="#/ecma6">EcmaScript6 Examples</a> to see examples. On the left side there will be links to each new feature in EcmaScript6. On the right side of each page you will see logger dump of the code running.
	Source code you will see in the middle will be code how it should be written for EcmaScript6, but based browser support, it will run different code (still, while you are debugging, map files have been created so you will still debug ES6 code). In pages where babel code is being run you will be able to click "Show Babel" to see in what code it converted initial EcmaScript6 code.
	Code hasn't been minified for the reason that you can debug it and see ES6 in Action, what is the purpose of this page
</p>
<h3>BabelJS</h3>
<p class="justify-text">
	Since ES6 is not fully supported in all of the browsers some libraries/tools were created which convert ES6 to ES5 code. One of those is BabelJS. I won't be giving introduction in BabelJS. For more details you should take a look <a href="https://babeljs.io/" target="_blank">here</a>
</p>