.aside-menu {
	&.ng-hide {
		opacity: 0;
		transition:all linear 0.5s;
		-webkit-transition:all linear 0.5s;
	}
	.hide-aside-menu {
		cursor: pointer;
		top: -11px;
		right : -11px;
		border : 1px solid rgb(204, 204, 204);
		float : right;
		display : inline-block;
		position : relative;
		opacity: 0.4;
		&:hover {
			opacity: 1;
		}
	}
	background-color: whitesmoke;
	border-top: 1px solid rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	border-right: 1px solid rgb(204, 204, 204);
	padding:10px;
	ul {
		padding: 0;
		list-style: none;
		li {
			&.header {
				margin-bottom: 15px;
				word-wrap : break-word;
				a.menu-link {
					text-decoration: none;
					font-size: 1.5em;
					i.browser-note {
						font-size: 0.75em;
					}
					&:hover {
						text-decoration: none;
						color:#428bff;
					}
				}
			}
			&.sub-header {
				margin-left:15px;
				word-wrap : break-word;
				a.menu-link {
					text-decoration: none;
					font-size: 1.1em;
					&:hover {
						text-decoration: none;
						color:#428bff;
					}
				}
			}
		}
	}
}
.show-aside-menu {
	cursor: pointer;
	border-top: 1px solid rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	border-right: 1px solid rgb(204, 204, 204);
	float : left;
	display : inline-block;
	position : relative;
	opacity: 0;
}
.show-aside-menu.show-aside-menu-shown {
	transition:all linear 1.5s;
	-webkit-transition:all linear 1.5s;
	opacity: 0.4;
	&:hover {
		opacity: 1;
		transition:none;
		-webkit-transition: none;
	}
}

@media screen and (max-width : 1280px) {
	.aside-menu {
		ul {
			li {
				&.header {
					a.menu-link {
						font-size: 1.2em;
						i.browser-note {
							font-size: 0.60em;
						}
					}
				}
				&.sub-header {
					a.menu-link {
						font-size: 0.9em;
					}
				}
			}
		}
	}
}