.ecma6-view {
	.aside-menu {
		width: 17%;
		display: inline;
		float: left;
	}
	.ecma6-content {
		width: 81%;
		display: inline;
		float:left;
		margin-left: 2%;
		h3 {
			display: inline-block;
			margin-bottom: 25px;
		}
		&.full-width-content {
			width:96%;
		}
	}
	.ecma6-intro {
		li {
			display: block;
			font-size: 1.2em;
			line-height: 2.5em;
		}
	}
}