@media screen and (min-width: 960px) {
	.ecma6-view {
		.ecma6-content {
			width: 83%;
			display: inline;
			float:left;
			margin-left: 2%;
			a {
				cursor : pointer;
			}
		}
		.ecma6-intro {
			li {
				display: block;
				font-size: 1.2em;
				line-height: 2.5em;
			}
		}
		.ecma6-sidebar {
			width: 15%;
			display: inline;
			float: left;
			ul {
				list-style: none;
				li {
					&.header {
						a {
							text-decoration: none;
							font-size: 1.5em;
							cursor:default;
							&:hover {
								text-decoration: none;
								color:#428bca;
							}
						}
					}
					a {
						text-decoration: none;
						font-size: 1.1em;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}