body {
	background-color: #FFFFFF;
	font-size: 14px;
}
header {
	background-color: #000000;
	nav {
		padding-bottom: 0;
		ul {
			list-style:none;
			padding: 17px;
			li {
				display: inline;
				padding-right: 60px;
				font-size: 1.8em;
				a {
					text-decoration: none;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}
main {
	width: 80%;
	display: inline;
	float:left;
	margin:0 auto;
	padding:25px;
}

.log-output {
	width: 20%;
	display: inline;
	float:left;
}

.focused {
  border: 1px solid red;
}
.justify-text {
	text-align: justify;
}

.app-logger-title-holder {
	display: inline-block;
	h3 {
		float:left;
	}
	.glyphicon.glyphicon-question-sign {
		float:right;
		padding-top:28px;
		margin-left:14px;
		cursor:pointer;

	}
}

.active-ui-sref {
	color: rgb(42, 30, 224);
	font-size: 1.3em;
	font-weight: 600;
}

.focused-message-class {
	border: 1px solid red;
}